@@include('../include/_head_top.html',{
"dot":".."
})

<div id="container" style="margin-bottom:0;">
    <div id="contentsCenter">
        <div id="title">
            <h2>영종 오션솔레뷰 특징</h2>
            <p class="subtitle">바다 앞 영종도 중심에서 누리는 멀티 라이프스타일 오피스텔형 레지던스</p>
        </div>
        <!--title 끝-->
        <div id="main_contents" style="margin-top:-40px;">
            <div id="navi">
                <img src="http://img.olivehill.co.kr/icon_home.gif" alt="홈">
                <img src="http://img.olivehill.co.kr/icon_arrow.gif" alt=">">
                <span>영종 오션솔레뷰 특징</span>
            </div>
            <!--navi 끝-->
            <img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/info_re_01_1.jpg" alt="메인 이미지">

            <img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/info_re_07.jpg" alt="편리한 생활을 위해 제공되는 옵션정보">

        </div>
        <!--main_contents 끝-->
    </div>
    <!--contentsCenter 끝-->
</div>


@@include('../include/_bottom.html',{
    "dot":".."
})