<!-- @@sizeFirst.type 시작 --->
<tr>
    <td style=" font-weight:600; background-color:#f6f6f6; border-bottom:1px solid #000">@@sizeFirst.type</td>
    <td style="border-bottom:1px solid #000">@@sizeFirst.room</td>
    <td style="border-bottom:1px solid #000">@@sizeFirst.houseNum</td>
    <td style="border-bottom:1px solid #000">@@sizeFirst.supplySize.m</td>
    <td style="border-bottom:1px solid #000">@@sizeFirst.supplySize.p</td>
    <td style="border-bottom:1px solid #000">@@sizeFirst.privateSize.m</td>
    <td style="border-bottom:1px solid #000">@@sizeFirst.privateSize.p</td>

    
    <td colspan="7" rowspan="@@sizeFirst.totalNum" style="background-color:#fff; border-bottom:1px solid #000">
        <p class="summary">전세,반전세,월세,단기임대 모두 가능!</p>
        <p><a href="http://www.olivehill.co.kr/home/qna/"><img
                    src="http://img.olivehill.co.kr/btn_go.jpg" alt="임대입주바로가기"></a></p>
        <p class="number">☎ 010) 8817-1634</p>
    </td>    
</tr>




@@for (var i = 0; i < sizeInfo.length; i++) {
<!-- `+sizeInfo[i].type+` 시작 --->
<tr>
    <td style=" font-weight:600; background-color:#f6f6f6; border-bottom:1px solid #000">`+sizeInfo[i].type+`</td>
    <td style="border-bottom:1px solid #000">`+sizeInfo[i].room+`</td>
    <td style="border-bottom:1px solid #000">`+sizeInfo[i].houseNum+`</td>
    <td style="border-bottom:1px solid #000">`+sizeInfo[i].supplySize.m+`</td>
    <td style="border-bottom:1px solid #000">`+sizeInfo[i].supplySize.p+`</td>
    <td style="border-bottom:1px solid #000">`+sizeInfo[i].privateSize.m+`</td>
    <td style="border-bottom:1px solid #000">`+sizeInfo[i].privateSize.p+`</td>
</tr>
}

<!-- A' / 12 시작 --->
<!-- <tr>
    <td style=" font-weight:600; background-color:#f6f6f6; border-bottom:1px solid #000">@@type</td>
    <td style="border-bottom:1px solid #000">@@room</td>
    <td style="border-bottom:1px solid #000">@@houseNum</td>
    <td style="border-bottom:1px solid #000">@@supplySize.m</td>
    <td style="border-bottom:1px solid #000">@@supplySize.p</td>
    <td style="border-bottom:1px solid #000">@@privateSize.m</td>
    <td style="border-bottom:1px solid #000">@@privateSize.p</td>
</tr> -->

