<table id="jwSlide_wrap" onmouseover="javascript:slide.img_over('over');"
    onmouseout="javascript:slide.img_over('out');" style="width: 897px; border: 0px;">
    <tbody>
        <tr>
            <td>
                <!--jwSlide_left-->
                <div id="jwSlide_left" class="jwSlide_btn" style="width: 93.5px; float: left;">
                    <a href="javascript:slide.prev();" class="btn_link">
                        <img src="http://img.olivehill.co.kr/photo/slide_btn_left.jpg" class="btn" alt="이전"
                            onmouseover="javascript:slide.btn_over('prev');"
                            onmouseout="javascript:slide.btn_over('off');"
                            style="position: relative; top: 220px; margin: 4px; opacity: 0.5; float: right;">
                    </a>
                </div>
                <!--jwSlide_center-->
                <div id="jwSlide_center" style="float: left;">
                    <!--jwSlide_view-->
                    <div id="jwSlide_view" class="jwSlide_center"
                        style="position: relative; width: 700px; height: 470px; padding: 0px; border: 2px solid rgb(151, 151, 151); margin: 2px;">

                        <img id="img_view"
                            src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/photo/main_1_1.jpg?ver=2016621706"
                            alt="아산 올리브힐"
                            style="width: 700px; bottom: 0px; position: absolute; display: block;">
                        <div id="jwSlide_title_bg" class="view_title"
                            style="width: 700px; position: absolute; bottom: 0px; height: 30px; opacity: 0.5; background-color: black;">
                        </div>

                        <div id="jwSlide_title" class="view_title"
                            style="width: 700px; position: absolute; bottom: 0px; height: 22px; color: white;">
                            <span id="jwSlide_title_text" style="float:left; margin-left:10px;">영종 오션솔레뷰
                                건물외부</span>
                            <span id="jwSlide_title_no" style="float:right; margin-right:10px;">1/13</span>
                        </div>
                    </div>
                    <!--jwSlide_navi-->
                    <table id="jwSlide_navi" class="jwSlide_center" cellspacing="0px" cellpadding="0px"
                        style="width: 708px;">
                        <tbody>
                            <tr id="jwSlide_navi_thumb">
                                <td style="text-align: center;">
                                    <a href="javascript:slide.view(1, 1);">
                                        <img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/photo/main_1_1.jpg"
                                            class="img_navi" id="img_navi_1" alt="아산 올리브힐"
                                            onmouseover="javascript:slide.navi_over(1);"
                                            onmouseout="javascript:slide.navi_over(0);"
                                            style="width: 169px; float: left; margin: 2px; opacity: 0.5; border: 2px solid rgb(151, 151, 151);">
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <a href="javascript:slide.view(2, 1);">
                                        <img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/photo/main_2_1.jpg"
                                            class="img_navi" id="img_navi_2" alt="아산 올리브힐"
                                            onmouseover="javascript:slide.navi_over(2);"
                                            onmouseout="javascript:slide.navi_over(0);"
                                            style="width: 169px; float: left; margin: 4px; opacity: 0.5; border: 0px;">
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <a href="javascript:slide.view(3, 1);">
                                        <img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/photo/main_3_1.jpg"
                                            class="img_navi" id="img_navi_3" alt="아산 올리브힐"
                                            onmouseover="javascript:slide.navi_over(3);"
                                            onmouseout="javascript:slide.navi_over(0);"
                                            style="width: 169px; float: left; margin: 4px; opacity: 0.5; border: 0px;">
                                    </a>
                                </td>
                                <td style="text-align: center;">
                                    <a href="javascript:slide.view(4, 1);">
                                        <img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/photo/main_4_1.jpg"
                                            class="img_navi" id="img_navi_4" alt="아산 올리브힐"
                                            onmouseover="javascript:slide.navi_over(4);"
                                            onmouseout="javascript:slide.navi_over(0);"
                                            style="width: 169px; float: left; margin: 4px; opacity: 0.5; border: 0px;">
                                    </a>
                                </td>
                            </tr>

                            <tr id="jwSlide_navi_text" style="height: 22px;">
                                <td style="text-align: center;">건물외부</td>
                                <td style="text-align: center;">인테리어</td>
                                <td style="text-align: center;">주방 및 욕실</td>
                                <td style="text-align: center;">주변환경</td>
                            </tr>

                            <tr id="jwSlide_navi_icon">
                                <td id="jwSlide_hide_1" class="jwSlide_hide" style="text-align: center;">
                                    <img id="hide_1_1" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot_ov.jpg"
                                        style="margin: 1px; display: inline;">
                                </td>
                                <td id="jwSlide_hide_2" class="jwSlide_hide" style="text-align: center;">
                                    <img id="hide_2_1" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_2_2" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_2_3" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_2_4" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_2_5" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_2_6" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_2_7" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                </td>
                                <td id="jwSlide_hide_3" class="jwSlide_hide" style="text-align: center;">
                                    <img id="hide_3_1" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_3_2" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_3_3" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_3_4" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_3_5" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                </td>
                                <td id="jwSlide_hide_4" class="jwSlide_hide" style="text-align: center;">
                                    <img id="hide_4_1" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                    <img id="hide_4_2" class="hide"
                                        src="http://img.olivehill.co.kr/photo/dot.jpg"
                                        style="margin: 1px; display: none;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--jwSlide_right-->
                <div id="jwSlide_right" class="jwSlide_btn" style="width: 93.5px; float: left;">
                    <a href="javascript:slide.next();" class="btn_link">
                        <img src="http://img.olivehill.co.kr/photo/slide_btn_right.jpg" class="btn" alt="다음"
                            onmouseover="javascript:slide.btn_over('next');"
                            onmouseout="javascript:slide.btn_over('off');"
                            style="position: relative; top: 220px; margin: 4px; opacity: 0.5; float: left;">
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>