    <div id="footer">
        <div id="f_contents">
            <h2><img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/footer_logo.gif" alt="올리브힐"></h2>
            <p class="address">
                <span class="tel">임대문의 010-8817-1634 | 인천시 중구 영종진광장로 32
                    <a href="@@dot/qna/" title="임대문의"><img src="http://img.olivehill.co.kr/btn_qna1.gif" alt="임대예약" style="margin-top:-2px;margin-left:5px"></a>
            </span>
                <br>

                (주)바로네트웍스<br>
                대표이사: 박기범 주소 : 서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br>
                사업자등록번호 : 215-87-85373 통신판매업 : 제2017-서울강남-00561호<br>
                여행등록번호 : 제2017-07호 여행영업보증서 : 국내여행 제100-000-2015 0144 5816호<br>
                <br>
                (주)이비즈네트웍스<br>
                대표이사: 박기범 주소 : 서울특별시 강남구 테헤란로82길 15 (대치동, 디아이타워)<br>
                사업자등록번호 : 220-87-30865 통신판매업 : 강남-11501호<br>
                여행등록번호 : 제2015-44호 여행영업보증서 : 국내여행 제 100-000-2018041610009호<br>
                <br>
                COPYRIGHT <span class="footer_mono">영종오션솔레뷰. </span>ALL RIGHTS RESERVED. <br>
            <img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/footer_text1.png" alt=""></p>
        </div><!--f_contents 끝-->
    </div>
</div>
<!--//wrapper 끝-->

<!--배너 영역(2개)-->
<div id="rbanner" style="z-index: 10; position: absolute; left: 1000px; top: 160px;">
	<div style="width:120px">
		<div id="right_banner" style="height:273px">
            
            <a href="@@dot/info/index.html" ><img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/right_bn_1.jpg" alt="대한주택보증배너"></a>
            
			<a href="http://hotelairsky.co.kr/" target="_blank"><img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/right_airsky_bn.jpg" style="margin-top:10px"></a>
		</div>
	</div>
</div>
<div id="rbanner1" style="z-index: 10; position: absolute; right: 1035px; top: 1110px;">
	<div style="width:120px">
		<div id="right_banner">
			<a href="http://hotelairsky.co.kr/" target="_blank"><img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/left_airsky_bn.jpg" alt="왼쪽배너"></a>
		</div>
	</div>
</div>
<!--///배너 영역(2개)-->

<!--배너 스크립트-->
<script type="text/javascript">
    $(function() {
        $("#rbanner").scrollFollower({pageAlign:"center",pageWidth:897,type:"right",topMargin:160,minTop:20,margin:20,speed:900,easing:"swing",zindex:10});
    });
    $(function() {
        $("#rbanner1").scrollFollower({pageAlign:"center",pageWidth:897,type:"left",topMargin:160,minTop:20,margin:55,speed:900,easing:"swing",zindex:10});
    });
</script>

</body>
</html>