
    <div id="header">
        <div id="top_contens" style="position:relative">
            <h1><a href="@@dot/index.html" title="로고">
                <img src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/top_logo.gif" alt="상단 배너"></a>
            </h1>
                                
            <img class="top-banner" src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/top_tel.gif" alt="주말/공휴일/24시간 분양임대입주 상담">

            <ul id="gnb">
                <li id="main">
                    <a href="@@dot/index.html" class="over" title="영종 오션솔레뷰">영종 오션솔레뷰</a>
                </li>
                <li id="info">
                    <a href="@@dot/info/index.html" class="over" title="특징">영종오션솔레뷰 특징</a>
                </li>
                <li id="size">
                    <a href="@@dot/size/index.html" class="over" title="평형소개">오션솔레뷰 평형소개</a>
                    <!--
                    <a href="http://www.olivehill.co.kr/home/size" class="over" title="올리브힐 평형소개">올리브힐 평형소개</a>
                    -->
                </li>
                <li id="qna">
                    <a href="@@dot/qna/index.html" class="over" title="임대문의">장/단기 임대안내</a>
                </li>
            </ul>
        </div>
    </div><!--header 끝-->