<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" dir="ltr" lang="ko-KR">
<!-- <!DOCTYPE html>
<html lang="ko-KR"> -->
<head>
    <title>오션솔레뷰</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="imagetoolbar" content="false">
    <meta name="robots" content="ALL">
    <meta name="author" content="오션솔레뷰">
    <meta name="description" content="원룸, 투룸, 오피스텔, 아파트">
    <meta name="keywords" content="임대,분양,오션솔레뷰,소형아파트,홈시스템">
    <meta name="classification" content="임대,오션솔레뷰">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="오션솔레뷰">
    <meta property="og:description" content="원룸, 투룸, 오피스텔, 아파트">
    <meta property="og:image" content="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/OceanSolleview_icon_128x128.png">    
    <!--<meta property="og:url" content="http://www.olivehill.co.kr">
    <link rel="canonical" href="http://www.olivehill.co.kr">  -->
    <!-- 대표 URL --> 
    <link rel="stylesheet" href="http://static.olivehill.co.kr/css/reset.css?ver=20200727144123" type="text/css">
    <link rel="stylesheet" href="http://static.olivehill.co.kr/css/layout.css?ver=20200727144123" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type="text/javascript" src="http://static.olivehill.co.kr/js/common.js"></script>
    <script type="text/javascript" src="http://static.olivehill.co.kr/js/jquery.banner.js"></script>
    
    <!-- <script type="text/javascript" src="http://static.olivehill.co.kr/js/jwSlide.js?ver=20200727144123"></script> -->
            
    <!--영종도용 CSS-->
    <link rel="stylesheet" href="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/static/css/init.css" type="text/css">
    <!-- <link rel="stylesheet" href="/static/css/init.css" type="text/css"> -->
    <!--영종도용 CSS-->

    <!--영종도용 슬라이더JS-->
    <script type="text/javascript" src="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/static/js/jwSlide.js"></script>
    <!--영종도용 슬라이더JS-->
    
    <!-- Android icon -->
    <link rel="shortcut icon" href="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/OceanSolleview_icon_128x128.png">
    <!-- iPhone icon -->
    <link rel="apple-touch-icon" sizes="57x57" href="http://img.olivehill.co.kr/olivehill_icon57x57.png">
    <!-- iPad icon -->
    <link rel="apple-touch-icon" sizes="72x72" href="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/OceanSolleview_icon_72.png">
    <!-- iPhone icon(Retina) -->
    <link rel="apple-touch-icon" sizes="114x114" href="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/OceanSolleview_icon_114.png">
    <!-- iPad icon(Retina) -->
    <link rel="apple-touch-icon" sizes="144x144" href="http://design.ebiznetworks.co.kr/lhc/OceanSolleview.co.kr/img/OceanSolleview_icon_144x144.png">

    <script type="text/javascript" src="http://static.olivehill.co.kr/js/follower.js"></script>
    
    <script type="text/javascript">
    
        $(function() {

            $("#memo").focus(function() {
                var val = $(this).val();
                if (val == "※ 원하시는 상담시간과 입주가능일을 함께 남겨주시면 빠른 상담가능합니다.") {
                    $(this).val("").addClass("is_focus");
                } else {
                    $(this).addClass("not_focus").removeClass("is_focus");
                }
            });
        });
    
    </script>
</head>
<body id="intro"cz-shortcut-listen="true">
    <div id="wrapper">
        @@include('./_header.html',{
            "dot":"@@dot"
        })
        


