<table summary="분양임대" border="0" width="100%" cellpadding="0" cellspacing="0" id="architecture_table_price">
    <tbody>
        <tr>
            <th rowspan="2" width="60" style="border-bottom:1px solid #000">타입</th>
            <th rowspan="2" width="80" style="border-bottom:1px solid #000">구분</th>
            <th rowspan="2" width="50" style="border-bottom:1px solid #000">타입별<br>세대수</th>
            <th colspan="2">공급면적</th>
            <th colspan="2">전용면적</th>
            <!-- <th rowspan="2" style="border-bottom:1px solid #000; background-color:#fff9dd">매매가<br><span
                    style="color:#ff0000">(원)</span></th> -->
            <th style="background-color:#ffe7e8">전세</th>
            <th colspan="2" style="background-color:#ebf1de">반전세</th>
            <th colspan="2" style="background-color:#fde9d9">월세</th>
            <th colspan="2" style="background-color:#e7fdfd">단기</th>
        </tr>
        <tr>
            <td width="50" style=" font-weight:600; background-color:#f6f6f6; border-bottom:1px solid #000">
                ㎡</td>
            <td width="50" style=" font-weight:600; background-color:#f6f6f6; border-bottom:1px solid #000">
                평형</td>
            <td width="50" style=" font-weight:600; background-color:#f6f6f6; border-bottom:1px solid #000">
                ㎡</td>
            <td width="50" style=" font-weight:600; background-color:#f6f6f6; border-bottom:1px solid #000">
                평형</td>
            <td width="70" style=" font-weight:600; background-color:#ffe7e8; border-bottom:1px solid #000">
                보증금</td>
            <td width="70" style=" font-weight:600; background-color:#ebf1de; border-bottom:1px solid #000">
                보증금</td>
            <td width="70" style=" font-weight:600; background-color:#ebf1de; border-bottom:1px solid #000">
                차임</td>
            <td width="70" style=" font-weight:600; background-color:#fde9d9; border-bottom:1px solid #000">
                보증금</td>
            <td width="70" style=" font-weight:600; background-color:#fde9d9; border-bottom:1px solid #000">
                차임</td>
            <td width="60" style=" font-weight:600; background-color:#e7fdfd; border-bottom:1px solid #000">
                임차보증금</td>
            <td width="60" style=" font-weight:600; background-color:#e7fdfd; border-bottom:1px solid #000">
                차임</td>
        </tr>

        @@loop('./_size_temp/_size_temp.html','../_info_json/_info_size.json')

    </tbody>
</table>